*{
    --color-yellow: #ffbb00;
    box-sizing: border-box;
}

.btn {
    /* min-width: 100px; */
    background-color: var(--color-yellow);
    border-radius: 30px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px 13px 15px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #000;
    background-color: transparent;
    border: 1px solid black;
    transition: all 0.3s linear;
    user-select: none;
    cursor: pointer;
}


.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
}

.session-container{
    width: 100%;
    
}
.session-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}
.session-title{
    font-size:3rem;
    font-weight: 400;
    color: #333333;
}
.session-title > span {
    font-weight: 700;
    color: var(--color-yellow);
}
.session-icon-box{
    max-width: 313px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}
.session-icon-box::after {
    content: '';
    position: absolute;
    display: block;
    width: 125px;
    height: 0.5px;
    background-color: #e1e1e1;
    top: 50%;
    left:  34px;
    transform: translateY(-50%);
}
.session-icon-box::before {
    content: '';
    position: absolute;
    display: block;
    width: 125px;
    height: 0.5px;
    background-color: #e1e1e1;
    top: 50%;
    right: 34px;
    transform: translateY(-50%);
}
.session-icon{
    height: 20px;
    color: #e1e1e1;
}
.session-description{
 font-size: 0.9rem;
    color: #7e7e7e;
}





.card{ 
    width: 100%;
    position: relative;
}
.card-img-top{
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.card-body{
    padding: 15px;
}
.card-title{
    font-size: 1.3rem;
    font-weight: 700;
    color: #333333;
}
.card-text{
    margin-top: 20px;
    color: #7e7e7e;
    font-size: 0.9rem;
}





/* share-date----------------------------------------------------- */
/* div */
.shared-date{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
/* svg . icon */
.shared-icon{
    height: 20px;
    color: #ffbb00;
}

/* span */
.shared-address{
    margin-left: 5px;
    font-size: 0.75rem;
    color: #7e7e7e;
}

.list {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.list-title {
    font-size: 1.2rem;
    padding: 25px 20px;
    border-bottom: 1px solid #e8e7e7;
    margin-bottom: 20px;
}

.list-items{
    display: flex;
    padding-left: 20px;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.list-items-img{
    width: 75px;
    border-radius: 5px;
    object-fit: cover;
}
.list-items-inner{
    padding-left: 15px;
}
.list-items-name{
    font-size: 1rem;
}
.list-items-shared{
    margin-top: 10px;
}

.col-lg-20pt {
    flex: 0 0 20%;
    padding: 0 15px;
}
.list .shared-icon {
    height: 15px;
}





/* ----------------------------------------------------------------------------------- */
/* select */


.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: transparent;
    border: 1px solid #fff !important;
    border-radius: 5px;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 23px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #555;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #fff;
    top: 101%;
    left: 15px;
    width: 89%;
    border-radius: 5px;
    z-index: 99;
  }
  .select-selected{
      color: #fff;
      font-size: 0.9rem;
  }
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }




/* input type date */


/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #fff;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #fff;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 0.9rem;
    border:1px solid #fff;
    background:transparent;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
    border-radius: 5px;
}

input[type="date"], focus {
    color: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}


.d-block{
    display: block;
}









/* form */


.form-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.form-column .form-group {
    max-width: 835px;
    margin: 10px 20%;
    height: 50px;
    position: relative;
}


.form-column .form-control {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    outline: none;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    caret-color: #555;
}

.form-column .form-group_textarea{
    max-width: 835px;
    margin: 10px 20%;
    min-height: 138px;

}
.form-column .form-control_textarea{
        padding-top: 10px;
}

.form-column .form-control::-webkit-input-placeholder {
    color: #666;
  }
  .form-column .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #666;
  }
  .form-column .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #666;
  }
  .form-column .form-control:-moz-placeholder { /* Firefox 18- */
    color: #666;
  }


  /* check box */
  .check-marks-container {
      position: relative;
      height: 30px;
      display: block;
      max-width: 835px;
      margin: 10px 20%;
  }
  .check-mark {
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      height: 15px;
      width: 15px;
      border-radius: 2px;
      border: 1px solid #e9e9e9;
  }

  .check-mark::after {
      content: '';
      position: absolute;
      display: block;
      width: 7px;
      height: 15px;
      background-color: transparent;
      top: 0;
      border-radius: 0px;
      border-right: 2.5px solid black;
      border-bottom: 2.5px solid black;
      transform: rotate(41deg) translateY(-50%);
      left: 1px;
      display: none;
      opacity: 0;
      animation:  fade 0.5s;
  }
  @keyframes fade {
      0%{
          opacity: 0;
      }
      100%{
          opacity: 1;
      }
  }
.check-marks-container::before {
    position: absolute;
    content: 'I consent to Arven Studio collecting my details through this form.';
    top: 48%;
    transform: translateY(-50%);
    left: 32px;
    line-height: 30px;
    color: #555;
    font-size: 0.8rem;
}
.check-marks-container::after {
    position: absolute;
    content: '';
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
}
.check-box {
    display: none;
}
.check-box:checked + .check-mark::after{
   display: block;
   opacity: 1;
}


.btn-v1{
    height: 45px;
    min-width: 100px;
    text-transform: uppercase;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 0.8rem;
}


/* option - select */
.form-group-select {
    --height:50px;
    max-width: 835px;
    margin: 10px 28px;
    height: var(--height);
    position: relative;
    z-index: 99;
}
.form-group-select .my-select {
    display: none;
}

.select{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    position: relative;
    padding-left: 20px;
    font-size: 0.8rem;
    color: #666;
}

.select_title{
    line-height: var(--height);
    display: block;
}

.select_icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.select-option_list{
    position: absolute;
    top: 103%;
    box-shadow: 1px 1px 5px;
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    padding-left: 15px;
    z-index: 99;
    background-color: #fff;
    border-radius: 5px;
    max-height: 50vh;
    overflow-y: scroll;
    display: none;
}
.select-option_item{
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    
}

.select-option_item:hover {
    color: var(--color-yellow);
}
.select-option_mark {
    font-size: 0.6rem;
    margin-right: 10px;
    display: block;
}
.selected_color {
    color: var(--color-yellow);

}
.form-control-date-event-search{
    appearance: none;
}
.form-control-date-event-search::-webkit-calendar-picker-indicator {
}
.form-control-date-event-search:not(.has-value):before{
    color:  #666;
    content: attr(placeholder);
  }
  